
<section id="display-details" class="display-details">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Portfolio Details</h2>
      </div>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <div class="display-details-content">
            <p><strong>Email:</strong> {{ userdata.email }}</p>
            <p>
              <strong>Company Name:</strong> {{ port.companyName }}
            </p>
            <p>
              <strong>Experience:</strong> {{ port.experience }}
            </p>
            <p><strong>Role:</strong> {{ port.jobRole }}</p>
            <p>
              <strong>College Name:</strong> {{ port.collegeName }}
            </p>
            <p>
              <strong>Start Date:</strong> {{ port.startDate }}
            </p>
            <p><strong>End Date:</strong> {{ port.endDate}}</p>
            <p><strong>CGPA:</strong> {{ port.cgpa}}</p>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </section>
  
  